{
    ApplicationDescription = "The Theme editor for GNUstep";
    ApplicationIcon = Thematic.png;
    ApplicationName = Thematic;
    ApplicationRelease = 0.1;
    Authors = (
	"Richard Frith-Macdonald"
    );
    Copyright = "Copyright (C) 2006-2008";
    CopyrightDescription = "Released under ... the GPL2";
    FullVersionID = 0.1;
    GSHelpContentsFile = ThematicHelp.rtfd;
    NSExecutable = Thematic;
    NSIcon = Thematic.png;
    NSMainNibFile = Thematic.gorm;
    NSPrincipalClass = NSApplication;
    NSRole = Application;
    NSTypes = (
	{
	    NSIcon = Thematic.png;
	    NSUnixExtensions = (
		theme
	    );
	}
    );
}